          <section class="blog-post">
            <h2 class="blog-post-title">{$env[title]}</h2>
            <p class="blog-post-meta">{$env[date]}</p>
			<p>{$env[summary]}</p>
			<p><a href="detail/{$env[url]}">この記事を読む</a></p>
          </section><!-- /.blog-post -->
