<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Mini Blog - 管理画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="../css/manage-thema.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Mini Blog</h1>
    <div id="flash">{$env['flash']}</div>
    {$env['menu']}
    <section>
    {$env['body']}
    </section>
    <footer>
    	<p>&copy; harupiyo 2014</p>
    </footer>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>

