<section>
	<h2>{$env[date]} {$env[title]}</h2>
	<p>{$env[summary]}</p>
	<p>
		<a href="../detail/{$env[url]}" target="_blank">この記事を確認する</a>
		<a href="edit.php?id={$env[id]}">この記事を編集する</a>
		<a href="delete.php?id={$env[id]}">この記事を削除する</a>
	</p>
</section>

